html {
    box-sizing: border-box;
}

.homepage {
    text-align: center;
}

body {
    background-color: bisque;
}
h1 {
    font-weight: 700;
    font-size: 50px;
}

h2 {
    font-weight: 600;
    font-size: 60px;
}
.recipe {
    font-size: large;
    background-color: #E5AA70;
    padding: 10px;
    margin: 5px auto;
    width: 400px;

}

.pumpkin {
    color: orange;
}

.chocolate {
    color: brown;
}

.topic {
    background-color: #E5AA70;
    padding: 10px;
    border: 1px black;
    margin: 10px auto;
    height: 60px;
    width: 500px;
}
